<div class="rule d-flex align-items-top" *ngIf="!deleted">
    <div class="rule-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-remove-circle">
            <circle cx="12" cy="12" r="10" class="primary"/>
            <rect width="12" height="2" x="6" y="11" class="secondary" rx="1"/>
        </svg>
    </div>

    <div class="rule-body flex-grow-1 d-flex flex-row flex-wrap align-items-top">
        <div class="conjunction">
            If
        </div>

        <div class="left align-middle">
            <!--        <app-expression [expressionData]="ruleData.getLeft()"></app-expression>-->
            <div class="identifier d-flex align-items-center">
                <div class="form-group">
                    <label for="identifier" class="sr-only">Identifier</label>
                    <select class="custom-select d-inline" id="identifier" (change)="identifierChanged($event)">
                        <optgroup label="Object Properties">
                            <option *ngFor="let identifier of identifiers" [selected]="identifier.name === property"
                                    [ngValue]="identifier">
                                {{ identifier.name }}
                            </option>
                        </optgroup>
                        <optgroup label="Formulas">
                            <option *ngFor="let formula of formulas" [ngValue]="formula">
                                {{ formula.name }}
                            </option>
                        </optgroup>
                    </select>
                </div>
            </div>
        </div>

        <div class="operator">
            <div class="operator">
                <div class="form-group">
                    <label for="operator" class="sr-only">Operator</label>
                    <select class="custom-select d-inline" id="operator" [ngModel]="operator"
                            (ngModelChange)="operatorChanged($event)">
                        <option *ngFor="let operatorBuffer of operators" [ngValue]="operatorBuffer">
                            {{ operatorBuffer.token }}
                        </option>
                    </select>
                </div>
            </div>
        </div>

        <div class="right d-flex flex-wrap align-items-center"
             *ngFor="let operatorOperand of operator.operands; let i = index">
            <div class="mr-2" *ngIf="operatorOperand.prefix">{{ operatorOperand.prefix }}</div>

            <div class="form-group">
                <input [type]="operatorOperand.type" class="form-control" [id]="'operand-' + i" placeholder="">
            </div>

            <div class="ml-2" *ngIf="operatorOperand.suffix">{{ operatorOperand.suffix }}</div>
        </div>

        <!--    <div class="right" *ngIf="ruleData.getRight()">-->
        <!--        <app-expression [expressionData]="ruleData.getRight()"></app-expression>-->
        <!--    </div>-->

        <div class="edit-rule flex-grow-1 text-right">
            <!--        <a class="mr-2" [routerLink]="['edit', ruleData.id]">-->
            <!--            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-edit">-->
            <!--                <path class="primary"-->
            <!--                      d="M4 14a1 1 0 0 1 .3-.7l11-11a1 1 0 0 1 1.4 0l3 3a1 1 0 0 1 0 1.4l-11 11a1 1 0 0 1-.7.3H5a1 1 0 0 1-1-1v-3z"/>-->
            <!--                <rect width="20" height="2" x="2" y="20" class="secondary" rx="1"/>-->
            <!--            </svg>-->
            <!--        </a>-->

            <button type="button" class="btn btn-link" (click)="delete()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-close-square">
                    <rect width="18" height="18" x="3" y="3" class="primary" rx="2"/>
                    <path class="secondary"
                          d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/>
                </svg>
            </button>
        </div>
    </div>
</div>
