<div class="identifier">
    <div class="form-group">
        <label for="identifier" class="sr-only">Identifier</label>
        <select class="custom-select d-inline" id="identifier">
            <ng-container *ngFor="let identifier of identifiers">
                <option [selected]="identifier.name === 'isActive'">
                    {{ identifier.name }}
                </option>
            </ng-container>
        </select>
    </div>
</div>
