<div id="main-nav" class="container-fluid">
    <div class="row">
        <div class="col-2">
            <div class="row">
                <div class="menu d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-menu">
                        <path class="secondary" fill-rule="evenodd"
                              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
                    </svg>
                </div>
                <div class="logo d-flex justify-content-center align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500" class="risk-canvas-logo">
                        <path fill="#4C4D4F" d="M249.998,0L33.502,125.019v249.963L249.998,500L466.5,374.981v-250L249.998,0z M113.278,360.078H56.105
	V148.994h57.173V360.078z M176.169,360.078h-39.068V148.994h39.068V360.078z M238.906,360.078h-39.067V148.994h39.067V360.078z
	 M82.328,124.676l168.396-97.653l168.437,97.653H82.328z M301.649,360.078h-39.068V148.994h39.068V360.078z M364.384,360.078
	h-39.105V148.994h39.105V360.078z M444.888,360.078h-57.173V148.994h57.173V360.078z"/>
                    </svg>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="row">
                <div class="search d-flex justify-content-center align-items-center">
                    <div class="search-input-wrapper row">
                        <input type="text" placeholder="Global Search">
                        <div class="search-addons d-flex align-items-center justify-content-end">
                            <span>Advanced Search</span>
                            <span>
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-search"><circle
                                    cx="10" cy="10" r="7" class="primary"/><path class="secondary"
                                                                                 d="M16.32 14.9l1.1 1.1c.4-.02.83.13 1.14.44l3 3a1.5 1.5 0 0 1-2.12 2.12l-3-3a1.5 1.5 0 0 1-.44-1.14l-1.1-1.1a8 8 0 1 1 1.41-1.41zM10 16a6 6 0 1 0 0-12 6 6 0 0 0 0 12z"/></svg>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="user-wrapper d-flex align-items-center justify-content-end">
                <div>Manager riskCanvas</div>
                <div class="user-avatar d-flex justify-content-center align-items-center">MR</div>
            </div>
        </div>
    </div>
</div>
