<aside id="edit-rule-side-bar">
    <header class="rule-builder d-flex align-items-center p-3">
        <div class="d-flex align-items-center flex-grow-1">
            <app-rule [ruleData]="ruleData"></app-rule>
        </div>
        <button class="btn btn-primary" (click)="addRule()">Add</button>
        <a class="btn btn-link" [routerLink]="'../../'">Cancel</a>
    </header>

    <main class="container-fluid">
        <div class="row">
            <div class="col">
                <h2>Variables and Values</h2>
                <ul>
                    <li>
                        <button class="btn btn-link" (click)="addToRule(ruleComponents.variables['variable'])">isActive
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-link" (click)="addToRule(ruleComponents.variables['valid'])">valid
                        </button>
                    </li>
                    <li>all</li>
                    <li>
                        <button class="btn btn-link" (click)="addToRule(ruleComponents.variables['boolean'])">true
                        </button>
                    </li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Statements</h2>
                <ul>
                    <li>if</li>
                    <li>unless</li>
                </ul>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Conditions</h2>
                <h3>Empty</h3>
                <ul>
                    <li>
                        <button class="btn btn-link" (click)="addToRule(ruleComponents.conditions.isEmpty)">is empty
                        </button>
                    </li>
                    <li>
                        <button class="btn btn-link" (click)="addToRule(ruleComponents.conditions.isNotEmpty)">is not
                            empty
                        </button>
                    </li>
                </ul>

                <h3>Text</h3>

                <ul>
                    <li>contains</li>
                    <li>does not contain</li>
                    <li>begins with</li>
                    <li>ends with</li>
                    <li>is exactly</li>
                </ul>

                <h3>Dates</h3>

                <ul>
                    <li>is</li>
                    <li>is before</li>
                    <li>is after</li>
                    <li>is between and</li>
                </ul>
            </div>
            <div class="col">
                <h3>Numbers</h3>

                <ul>
                    <li>is greater than</li>
                    <li>is greater than or equal to</li>
                    <li>is less than</li>
                    <li>is less than or equal to</li>
                    <li>is equal to</li>
                    <li>is not equal to</li>
                    <li>is between and</li>
                    <li>is not between and</li>
                </ul>

                <h3>Validity</h3>

                <ul>
                    <li>is true</li>
                    <li>is not true</li>
                    <li>is false</li>
                    <li>is not false</li>
                </ul>
            </div>
            <div class="col">
                <h3>Duplicates</h3>

                <ul>
                    <li>is a duplicate</li>
                    <li>is not a duplicate</li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <h2>Formulas</h2>
                <h3>Math</h3>

                <ul>
                    <li>+</li>
                    <li>-</li>
                    <li>*</li>
                    <li>/</li>
                    <li>mod</li>
                    <li>round</li>
                    <li>abs</li>
                </ul>
            </div>
            <div class="col">
                <h3>Text</h3>

                <ul>
                    <li>concatenate</li>
                    <li>join and</li>
                    <li>length of</li>
                    <li>letter in</li>
                </ul>
            </div>
            <div class="col">
                <h3>Lists</h3>

                <ul>
                    <li>number of elements in</li>
                    <li>find in</li>
                    <li>get element in</li>
                    <li>get elements from where</li>
                </ul>
            </div>
        </div>
    </main>
</aside>
