<div class="row">
    <div class="col-8">
        <header id="rule-editor-header" class="d-flex flex-row align-items-center">
            <code class="mr-2">{{ object }}.{{ property }}</code>
            <span class="mr-2">is</span>
            <label for="is-active-conditional-consequent" class="sr-only"></label>
            <select id="is-active-conditional-consequent" name="is-active-conditional-consequent"
                    class="custom-select d-inline mr-2">
                <option value="true" class="boolean true" selected>valid</option>
                <option value="false" class="boolean false">invalid</option>
            </select>
            <span class="mr-2">if</span>
            <label for="is-active-conditional-logical-operator" class="sr-only"></label>
            <select id="is-active-conditional-logical-operator" name="is-active-conditional-logical-operator"
                    class="custom-select d-inline mr-2">
                <option value="and" selected>all</option>
                <option value="or">any</option>
                <option value="not">none</option>
            </select>
            <span class="mr-2">of the following are</span>
            <label for="is-active-conditional-condition" class="sr-only"></label>
            <select id="is-active-conditional-condition" name="is-active-conditional-condition"
                    class="custom-select d-inline mr-2">
                <option class="boolean true" value="true" selected>true</option>
                <option class="boolean false" value="false">false</option>
            </select>
        </header>

        <main class="rule-groups">
            <ng-container *ngFor="let ruleGroup of ruleData">
                <app-rule-group [ruleGroupData]="ruleGroup"></app-rule-group>
            </ng-container>

            <button id="add-rule-group-button" class="add-rule-button btn" (click)="addRuleGroup()">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-add-circle">
                    <circle cx="12" cy="12" r="10" class="primary"/>
                    <path class="secondary"
                          d="M13 11h4a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4z"/>
                </svg>
            </button>
        </main>
    </div>

    <div class="col-4">
        <router-outlet></router-outlet>
        <!--      <app-edit-rule></app-edit-rule>-->
        <!--    <app-test-data></app-test-data>-->
    </div>
</div>
