<div class="literal">
  <div class="form-group">
    <label for="literal-value" class="sr-only">Literal Value</label>
    <input type="text" class="form-control" id="literal-value" [value]="literalData.value">
  </div>
</div>
