<div class="rule-group" *ngIf="!deleted">
  <header class="d-flex flex-row align-items-center rule-group-conditional">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-remove-circle mr-2">
      <circle cx="12" cy="12" r="10" class="primary"/>
      <rect width="12" height="2" x="6" y="11" class="secondary" rx="1"/>
    </svg>

    <label for="is-active-conditional-consequent" class="sr-only"></label>
    <select id="is-active-conditional-consequent" name="is-active-conditional-consequent"
            class="custom-select d-inline mr-2">
      <option value="true" class="boolean true" selected>valid</option>
      <option value="false" class="boolean false">invalid</option>
    </select>
    <span class="mr-2">if</span>
    <label for="is-active-conditional-logical-operator" class="sr-only"></label>
    <select id="is-active-conditional-logical-operator" name="is-active-conditional-logical-operator"
            class="custom-select d-inline mr-2">
      <option value="and" selected>all</option>
      <option value="or">any</option>
      <option value="not">none</option>
    </select>
    <span class="mr-2">of the following are</span>
    <label for="is-active-conditional-condition" class="sr-only"></label>
    <select id="is-active-conditional-condition" name="is-active-conditional-condition"
            class="custom-select d-inline mr-2">
      <option class="boolean true" value="true" selected>true</option>
      <option class="boolean false" value="false">false</option>
    </select>

    <div class="edit-rule flex-grow-1 text-right">
      <button type="button" class="btn btn-link" (click)="delete()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-close-square" style="width: 24px; height: 24px;">
          <rect width="18" height="18" x="3" y="3" class="primary" rx="2"/>
          <path class="secondary"
                d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/>
        </svg>
      </button>
    </div>
  </header>
<!--  <div class="rule-group-conditional d-flex flex-row">-->


<!--    <div class="consequent">{{ getConsequentString(ruleGroupData.consequent) }}</div>-->

<!--    <div class="conjunction">-->
<!--      if-->
<!--    </div>-->
<!--    <div class="operator" *ngIf="isAnd(); else orOperator">all</div>-->
<!--    <ng-template #orOperator>any</ng-template>-->
<!--    <div class="conjunction">-->
<!--      of the following are-->
<!--    </div>-->

<!--    <div class="condition">{{ ruleGroupData.condition }}</div>-->

<!--    -->
<!--  </div>-->

  <div class="rules">
    <ng-container *ngFor="let rule of ruleGroupData.rules">
      <ng-container *ngIf="isRule(rule); else ruleGroup">
        <app-rule [ruleData]="rule" (deleteRule)="deleteRule(rule)"></app-rule>
      </ng-container>
      <ng-template #ruleGroup>
        <app-rule-group [ruleGroupData]="rule"></app-rule-group>
      </ng-template>
    </ng-container>
  </div>

  <button class="add-rule-button btn" (click)="addRule()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-add-circle">
      <circle cx="12" cy="12" r="10" class="primary"/>
      <path class="secondary" d="M13 11h4a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4z"/>
    </svg>
  </button>

  <button class="add-rule-group-button btn" (click)="addRuleGroup()">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-add-circle">
      <circle cx="12" cy="12" r="10" class="primary"/>
      <path class="secondary" d="M13 11h4a1 1 0 0 1 0 2h-4v4a1 1 0 0 1-2 0v-4H7a1 1 0 0 1 0-2h4V7a1 1 0 0 1 2 0v4z"/>
    </svg>

    Add Group
  </button>
</div>
