<div id="page-title">
    <h5>Administration</h5>
    <p>Configure riskCanvas</p>
</div>

<div id="admin-content" class="d-flex">
    <div class="admin-tabs">
        <ul>
            <li class="d-flex text-center justify-content-center align-items-center">User Management</li>
            <li class="d-flex text-center justify-content-center align-items-center">Roles</li>
            <li class="d-flex text-center justify-content-center align-items-center">Groups</li>
            <li class="d-flex text-center justify-content-center align-items-center">riskDNA Configuration</li>
            <li class="d-flex text-center justify-content-center align-items-center">SAR Configuration</li>
            <li class="d-flex text-center justify-content-center align-items-center active">Data Management</li>
            <li class="d-flex text-center justify-content-center align-items-center">Entity Detail Configuration</li>
        </ul>
    </div>
    <div class="nav-tabs-content w-100">
        <div class="data-management-tabs">
            <ul class="d-flex">
                <li class="active d-flex text-center justify-content-center align-items-center">Data Objects</li>
                <li class="d-flex text-center justify-content-center align-items-center">Data Source</li>
                <li class="d-flex text-center justify-content-center align-items-center">Data Mapping</li>
            </ul>
        </div>

        <div class="data-management-tabs-content container-fluid py-4">
            <div class="d-flex align-items-center">
                <div class="mr-2"><-</div>
                <h5 class="mr-2">Core Object:</h5>
                <div class="form-group mr-2 mb-0">
                    <label for="core-object" class="sr-only">core-object</label>
                    <select class="form-control" id="core-object">
                        <option>entities</option>
                    </select>
                </div>
                <button class="btn mr-2">Extend Object</button>
                <button class="btn mr-2">New Object</button>
                <button class="btn btn-yellow">Edit Object</button>
            </div>

            <div class="form-group d-flex mt-3">
                <label for="description1" style="width: 213px">Description:</label>
                <textarea class="form-control" style="width: 271px" id="description1" rows="5"></textarea>
            </div>

            <div class="d-flex">
                <h6 class="flex-grow-1">Object Properties</h6>
                <div class="form-group">
                    <label for="find" class="sr-only">Find</label>
                    <input type="text" class="form-control" id="find" placeholder="Find">
                </div>
            </div>

            <table class="table fixed-header">
                <thead>
                <tr>
                    <th>PK</th>
                    <th>Display Label</th>
                    <th>Column Name</th>
                    <th>JSON Key</th>
                    <th>Data Type</th>
                    <th>Property Type</th>
                    <th>Extended Validation</th>
                </tr>
                </thead>
            </table>
            <div id="object-properties-table-body">
                <table class="table">
                    <tbody>
                    <tr *ngFor="let property of objectProperties" [ngClass]="{'selected': (selectedProperty['display_label'] == property['display_label'])}" (click)="showPropertyDetails(property)">
                        <td>{{ (property['is_primary_unique']) ? 'Yes' : '' }}</td>
                        <td>{{ property['display_label'] }}</td>
                        <td>{{ property['column_name'] }}</td>
                        <td>{{ property['json_key'] }}</td>
                        <td>{{ property['type'] }}</td>
                        <td>{{ property['is_object_array'] ? 'List' : 'Single Value' }}</td>
                        <td>No</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="property-attributes">
                <h5>Property Attributes</h5>

                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label for="display-label">Display Label</label>
                            <input type="text" class="form-control" id="display-label" placeholder="Display Label" [ngModel]="selectedProperty['display_label']">
                        </div>

                        <div class="form-group">
                            <label for="identifier">Identifier</label>
                            <input type="text" class="form-control" id="identifier" placeholder="Identifier" [ngModel]="selectedProperty['column_name']">
                        </div>

                        <div class="form-group">
                            <label for="property-name">Property Name</label>
                            <input type="text" class="form-control" id="property-name" placeholder="Property Name" [ngModel]="selectedProperty['json_key']">
                        </div>

                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" id="description" rows="5">{{ selectedProperty['description'] }}</textarea>
                        </div>

                        <div class="form-group">
                            <label for="property-type">Property Type</label>
                            <select class="form-control" id="property-type">
                                <option>Single Value</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label for="data-type">Data Type</label>
                            <select class="form-control" id="data-type">
                                <option>Long</option>
                            </select>
                        </div>

                        <div class="form-check">
                            <input id="primary-unique" type="checkbox" class="form-check-input" value="primary">
                            <label class="form-check-label" for="primary-unique">Primary/Unique</label>
                        </div>
                            <a class="btn btn-yellow my-4" [routerLink]="[selectedProperty['display_label'], 'validation']" [ngClass]="{'disabled': (! selectedProperty['display_label'])}">Edit Extended Validation</a>
                    </div>
                </div>

                <div style="border: 1px solid #e0e0e0; border-radius: 5px; padding: 0 0 96px;">
                    <h5 style="padding: 16px; background: #e0e0e0;">Extended Validation Rules</h5>

                    <div>
                        <router-outlet></router-outlet>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
