#page-title {
    margin-bottom: 32px;

    h5 {
        text-transform: uppercase;
        font-size: 18px;
        color: #4c5e70;
    }

    p {
        color: rgb(165,173,182);
        font-size: 14px;
        margin: -6px 0 0;
    }
}

#admin-content {
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.06);
    background: #f9f9f9;

    .admin-tabs {
        width: 154px;

        ul {
            list-style: none;
            padding: 0;

            li {
                color: #555555;
                background: #f6f7f9;
                width: 154px;
                height: 147px;
                box-shadow: 1px -1px 5px 0 rgba(0, 0, 0, 0.1);
                border-left: 8px solid transparent;
                cursor: pointer;

                &:hover {
                    background: #ededf0;
                    border-color: #c0c0c0;
                }

                &.active {
                    background: #fff;
                    color: #ffcc00;
                    border-color: #ffcc00;
                }
            }
        }
    }

    .nav-tabs-content {
        margin-left: 3px;

        .data-management-tabs {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    color: #78808e;
                    width: 318px;
                    height: 57px;
                    border-top: 8px solid transparent;
                    border-top-right-radius: 3px;
                    border-top-left-radius: 3px;
                    background: #f6f7f9;
                    box-shadow: 1px -1px 5px 0 rgba(0, 0, 0, 0.1);
                    margin-right: 2px;
                    cursor: pointer;

                    &:hover {
                        background: #ededf0;
                        border-color: #c0c0c0;
                    }

                    &.active {
                        background: #fff;
                        border-color: #ffcc00;
                        color: #ffcc00;
                    }
                }
            }
        }

        .data-management-tabs-content {
            background: #fff;

            h5 {
                color: #222222;
                font-weight: 500;
                font-size: 18px;
            }

            .btn {
                height: 34px;
                background: #5b5b5d;
                border-radius: 34px;
                font-size: 14px;
                color: #fff;
            }

            .form-control {
                border: 1px solid #ccc;
                border-radius: 34px;
                height: 34px;
            }

            #data-objects-table-header,
            #reference-data-table {
                thead {
                    background: #e4e4e4;
                    font-weight: 400;
                }

                margin: 0;
            }

            #data-objects-table {
                height: 300px;
                overflow-x: hidden;
                overflow-y: auto;

                td {
                    color: #9fa8b2;
                }
            }
        }
    }
}
