<div id="page-title">
    <h5>Administration</h5>
    <p>Configure riskCanvas</p>
</div>

<div id="admin-content" class="d-flex">
    <div class="admin-tabs">
        <ul>
            <li class="d-flex text-center justify-content-center align-items-center">User Management</li>
            <li class="d-flex text-center justify-content-center align-items-center">Roles</li>
            <li class="d-flex text-center justify-content-center align-items-center">Groups</li>
            <li class="d-flex text-center justify-content-center align-items-center">riskDNA Configuration</li>
            <li class="d-flex text-center justify-content-center align-items-center">SAR Configuration</li>
            <li class="d-flex text-center justify-content-center align-items-center active">Data Management</li>
            <li class="d-flex text-center justify-content-center align-items-center">Entity Detail Configuration</li>
        </ul>
    </div>
    <div class="nav-tabs-content w-100">
        <div class="data-management-tabs">
            <ul class="d-flex">
                <li class="active d-flex text-center justify-content-center align-items-center">Data Objects</li>
                <li class="d-flex text-center justify-content-center align-items-center">Data Source</li>
                <li class="d-flex text-center justify-content-center align-items-center">Data Mapping</li>
            </ul>
        </div>

        <div class="data-management-tabs-content container-fluid py-4">
            <div class="d-flex">
                <h5 class="flex-grow-1">Data Objects</h5>

                <button class="btn mr-3">New Object</button>
                <button class="btn mr-3">Extend Object</button>
                <div class="form-group">
                    <label for="find" class="sr-only">Find</label>
                    <input type="text" class="form-control" id="find" placeholder="Find">
                </div>
            </div>

            <table id="data-objects-table-header" class="table table-striped table-borderless">
                <thead>
                <tr>
                    <th>Data Object</th>
                    <th>Description</th>
                    <th>Number of Properties</th>
                    <th>Extends</th>
                    <th>Mapped Data Sources</th>
                    <th>Details</th>
                </tr>
                </thead>
            </table>
            <div id="data-objects-table">
                <table id="data-objects-table-body" class="table">
                    <tbody>
                    <tr *ngFor="let data of dataObjectsData">
                        <td>{{ data[0] }}</td>
                        <td>{{ data[1] }}</td>
                        <td>{{ data[2] }}</td>
                        <td>{{ data[3] }}</td>
                        <td>{{ data[4] }}</td>
                        <td>
                            <a class="btn" [routerLink]="['data-objects', data[0]]">View Details</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div class="d-flex mt-5">
                <h5 class="flex-grow-1">Reference Data</h5>

                <button class="btn mr-3">Add Reference Data</button>
                <div class="form-group">
                    <label for="find-reference-data" class="sr-only">Find</label>
                    <input type="text" class="form-control" id="find-reference-data" placeholder="Find">
                </div>
            </div>

            <table id="reference-data-table" class="table">
                <thead>
                <tr>
                    <th>File Name</th>
                    <th>Description</th>
                    <th>Upload Date</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>sampleObject2</td>
                    <td>sampleObject2</td>
                    <td>04/29/2019</td>
                    <td>
                        <button class="btn">View Details</button>
                    </td>
                </tr>
                <tr>
                    <td>AcademicCollocationList</td>
                    <td>AcademicCollocationList</td>
                    <td>03/14/2019</td>
                    <td>
                        <button class="btn">View Details</button>
                    </td>
                </tr>
                <tr>
                    <td>sampleObject</td>
                    <td>sampleObject</td>
                    <td>04/29/2019</td>
                    <td>
                        <button class="btn">View Details</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
