<ng-container *ngIf="expressionData; else addExpression">
  <ng-container [ngSwitch]="expressionData.type">
    <ng-container *ngSwitchCase="'Identifier'">
      <app-identifier [identifierData]="expressionData"></app-identifier>
    </ng-container>
    <ng-container *ngSwitchCase="'Literal'">
      <app-literal [literalData]="expressionData"></app-literal>
    </ng-container>
  </ng-container>
</ng-container>

<ng-template #addExpression>
  <button class="btn data-anchor"></button>
</ng-template>
