body {
    background: #f5f7fa;
}

code {
    background: #f2f2f2;
    border-radius: 2px;
    padding: 0 3px;
}

#main-nav {
    position: fixed;
    z-index: 2000;
    top: 0;
    background: #fff;
    height: 52px;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.16), 0 0 8px 0 rgba(0, 0, 0, 0.12);

    .menu {
        height: 52px;
        width: 70px;
        background: #f7f7f7;

        svg.icon-menu {
            width: 28px;

            path {
                fill: #000;
            }
        }
    }

    .logo {
        .risk-canvas-logo {
            margin-left: 14px;
            height: 48px;
        }
    }

    .search {
        height: 52px;
        width: 100%;

        .search-input-wrapper {
            border: 1px solid #e2e2e2;
            border-radius: 100px;
            width: 80%;
            height: 35px;
            padding: 0 16px;

            input {
                height: 35px;
                border: none;
                background: transparent;
                width: 75%;
                outline: none;
            }

            .search-addons {
                width: 25%;
                height: 35px;
                color: #3489e6;
                font-size: 14px;

                .icon-search {
                    margin-left: 14px;
                    height: 13px;

                    circle.primary {
                        fill: transparent;
                    }
                }
            }
        }
    }

    .user-wrapper {
        color: #8e8f9b;

        .user-avatar {
            height: 48px;
            width: 48px;
            background: #000;
            color: #fff;
            border-radius: 48px;
            margin-left: 16px;
        }
    }
}

#app-container {
    margin-top: 52px;
}

#rule-editor-header {
    background: #fff;
    border-radius: 5px;
    border: 1px solid #e4e7eb;
    padding: 16px 20px;
    margin-bottom: 32px;
    margin-left: 16px;
}

.rule-groups {
    position: relative;
    padding-left: 16px;

    &::before {
        content: "";
        position: absolute;
        border-left: 2px solid #627d98;
        top: -42px;
        left: 52px;
        bottom: -102px;
        z-index: -1;
    }

    &::after {
        content: "";
        position: absolute;
        background: #627d98;
        border-radius: 8px;
        height: 8px;
        width: 8px;
        bottom: -106px;
        left: 49px;
    }

    app-rule-group > .rule-group {
        margin-bottom: 32px;
    }

    .rule-group {
        background: #fff;
        border-radius: 5px;
        border-left: 5px solid #829ab1;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
        padding: 16px 0 40px 20px;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            border-left: 2px solid #9aa5b1;
            top: 28px;
            left: 31px;
            bottom: 26px;
            z-index: 0;
        }

        &::after {
            content: "";
            position: absolute;
            background: #9aa5b1;
            border-radius: 8px;
            height: 8px;
            width: 8px;
            bottom: 20px;
            left: 28px;
        }

        .rules {
            margin-left: 23px;
        }

        & .rule-group {
            border-radius: 0;
            border: none;
            background: none;
            box-shadow: none;
            margin-left: -16px;
            margin-bottom: 0;
        }

        .rule-group-conditional {
            position: relative;

            .conjunction,
            .consequent,
            .operator,
            .condition {
                margin-right: 8px;
            }

            svg.icon-remove-circle {
                //position: absolute;
                height: 24px;
                left: -31px;

                .primary,
                .secondary {
                    fill: #9aa5b1;
                }
            }

            .edit-rule {
                opacity: 0;

                svg {
                    height: 24px;

                    path.primary,
                    rect.primary {
                        fill: #a5b3bb;
                    }

                    path.secondary,
                    rect.secondary {
                        fill: #0d2b3e;
                    }
                }

                .icon-close-square {
                    rect,
                    path {
                        transition: fill 250ms ease-in-out;
                    }

                    &:hover {
                        rect.primary {
                            fill: #cf1124;
                        }

                        path.secondary {
                            fill: #fff;
                        }
                    }
                }
            }

            &:hover .edit-rule {
                opacity: 1;
            }
        }

        app-rule {
            & + app-rule .rule {
                //margin-top: 16px;
            }

            .rule {
                padding: 8px 0 8px 8px;
                border-radius: 5px;

                &.selected {
                    background: #e6f6ff;
                }

                .icon-remove-circle,
                .conjunction,
                .left,
                .operator,
                .right {
                    margin-right: 8px;
                }

                .rule-icon {
                    width: 32px;
                    padding-top: 8px;

                    svg.icon-remove-circle {
                        height: 24px;

                        .primary,
                        .secondary {
                            fill: #9aa5b1;
                        }
                    }
                }

                .rule-body {
                    .identifier {
                        .identifier-options {
                            margin: -19px 0 0 -10px;

                            button {
                                height: 20px;
                                width: 20px;
                                border-radius: 20px;
                                background: #fff;
                                border: 1px solid #ced4da;
                                box-shadow: 0 0 0 3px #fff;
                                padding: 0;
                                opacity: 0;
                                transition: opacity 150ms ease-in-out;

                                svg {
                                    height: 17px;
                                }
                            }
                        }

                        &:hover:not(:focus) {
                            .identifier-options button {
                                opacity: 1;
                            }
                        }
                    }

                    .conjunction {
                        height: 40px;
                        line-height: 40px;
                    }

                    .form-group {
                        margin-bottom: 0;
                    }
                }

                .edit-rule {
                    opacity: 0;

                    svg {
                        height: 24px;

                        path.primary,
                        rect.primary {
                            fill: #a5b3bb;
                        }

                        path.secondary,
                        rect.secondary {
                            fill: #0d2b3e;
                        }
                    }

                    .icon-close-square {
                        rect,
                        path {
                            transition: fill 250ms ease-in-out;
                        }

                        &:hover {
                            rect.primary {
                                fill: #cf1124;
                            }

                            path.secondary {
                                fill: #fff;
                            }
                        }
                    }
                }

                &:hover .edit-rule {
                    opacity: 1;
                }
            }
        }
    }
}

.add-rule-button,
.add-rule-group-button {
    svg {
        height: 24px;
        width: 24px;

        .primary {
            fill: #31b237;
        }

        .secondary {
            fill: #fff;
        }
    }
}

.add-rule-button {
    margin-left: -13px;
    position: absolute;
    z-index: 900;
}

.add-rule-group-button {
    margin-left: 26px;
}

#add-rule-group-button {
    margin-left: 11.5px;
}

.add-rule-group-button {
    opacity: 0;

    &:hover {
        opacity: 1;
    }
}

.data-anchor {
    background: #fff;
    height: 24px;
    width: 48px;
    border: 1px solid #9aa5b1;
    border-radius: 24px;
    box-shadow: 0 0 0 3px #a7d8f0;
}

span.data-anchor {
    display: inline-block;
}

#edit-rule-side-bar {
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);

    header.rule-builder {
        background: #e4e7eb;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
    }

    main {
        padding: 16px 20px;
    }
}


.boolean {
    &.true {
        color: #0e7817;
    }

    &.false {
        color: #ab091e;
    }
}

select.custom-select.d-inline {
    width: auto;
}

#test-data {
    .count-panel {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.10);
        border-radius: 5px;
        font-size: 24px;
        font-weight: 700;
        padding: 8px 16px;
        margin: 0 16px 32px 16px;

        div {
            margin-top: -10px;
        }

        h5 {
            font-size: 16px;
            font-weight: 400;
        }

        &.invalid {
            background: #ffeeee;
            color: #CF1124;

            h5 {
                color: #610404;
            }
        }

        &.valid {
            background: #e3fae5;
            color: #18981D;

            h5 {
                color: #014807;
            }
        }
    }

    table {
        thead {
            background: #707070;
            color: #fff;
        }

        tbody {
            tr {
                td {
                    svg {
                        height: 24px;

                        &.icon-check {
                            .primary {
                                fill: #2F8132;
                            }

                            .secondary {
                                fill: #fff;
                            }
                        }

                        &.icon-close-circle {
                            .primary {
                                fill: #AB091E;
                            }

                            .secondary {
                                fill: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
