<div id="test-data">
    <div class="row">
        <div class="col count-panel invalid">
            <h5>Invalid</h5>
            <div class="text-right">{{ invalidEntities | number : '1.0-0' }}</div>
        </div>
        <div class="col count-panel valid">
            <h5>Valid</h5>
            <div class="text-right">{{ validEntities | number : '1.0-0' }}</div>
        </div>
    </div>

    <table class="table table-striped table-borderless bg-white rounded">
        <thead>
        <tr>
            <th>ID</th>
            <th>Date Added</th>
            <th class="text-center">Valid</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let entity of entityData">
            <td>{{ entity.entity_id }}</td>
            <td>{{ entity.created_date | date:'MM/dd/y' }}</td>
            <td class="text-center entity-validity">
                <ng-container *ngIf="entity.is_dirty">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-check">
                        <circle cx="12" cy="12" r="10" class="primary"/>
                        <path class="secondary"
                              d="M10 14.59l6.3-6.3a1 1 0 0 1 1.4 1.42l-7 7a1 1 0 0 1-1.4 0l-3-3a1 1 0 0 1 1.4-1.42l2.3 2.3z"/>
                    </svg>
                </ng-container>

                <ng-container *ngIf="!entity.is_dirty">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon-close-circle">
                        <circle cx="12" cy="12" r="10" class="primary"/>
                        <path class="secondary"
                              d="M13.41 12l2.83 2.83a1 1 0 0 1-1.41 1.41L12 13.41l-2.83 2.83a1 1 0 1 1-1.41-1.41L10.59 12 7.76 9.17a1 1 0 0 1 1.41-1.41L12 10.59l2.83-2.83a1 1 0 0 1 1.41 1.41L13.41 12z"/>
                    </svg>
                </ng-container>
            </td>
        </tr>
        </tbody>
    </table>
</div>
