<ng-container *ngIf="operatorData; else addOperator">
  <div class="operator">
    <div class="form-group">
      <label for="identifier" class="sr-only">Identifier</label>
      <select class="custom-select d-inline" id="identifier">
        <ng-container *ngFor="let operator of operators">
          <option [selected]="operator.type === operatorData.type">
            {{ operator.token }}
          </option>
        </ng-container>
      </select>
    </div>
<!--    {{ operatorData.token }}-->
  </div>
</ng-container>

<ng-template #addOperator>
  <button class="btn data-anchor"></button>
</ng-template>
